<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New pet</title>
</head>
<body>

<form th:method="POST" th:action="@{/pet}" th:object="${newPet}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="${newPet.name}" id="name"/>

    <br/>

    <label for="type">Выберите тип питомца</label>
    <select id="type" th:field="${newPet.typePet}">
        <option th:each="type : ${T(com.mikhail.golovackii.pet_shelter.model.TypePet).values()}"
                th:value="${type}" th:text="${type.value}"></option>
    </select>

    <br/>

    <label for="photo">Фото питомца</label>
    <input id="photo" type="file"/>

    <br/>

    <label for="dateBirth">Укажите дату рождения</label>
    <input type="date" th:field="${newPet.dateBirth}" id="dateBirth"/>

    <br/>

    <label for="breed">Выберите породу</label>
    <select id="breed" th:field="${newPet.breed}">
        <option th:each="breed : ${T(com.mikhail.golovackii.pet_shelter.model.PetBreed).values()}"
                th:value="${breed}" th:text="${breed.value}"></option>
    </select>

    <br/>

    <label for="sex">Выберите пол</label>
    <select id="sex" th:field="${newPet.sex}">
        <option th:each="sex : ${T(com.mikhail.golovackii.pet_shelter.model.Sex).values()}"
                th:value="${sex}" th:text="${sex.value}"></option>
    </select>

    <br/>

    <label for="color">Введите цвет</label>
    <input type="text" th:field="${newPet.color}" id="color">

    <br/>

    <label for="information">Информация</label>
    <textarea id="information" name="information" th:field="${newPet.information}"></textarea>

    <br/>

    <input type="submit" value="Сохранить">
</form>

</body>
</html>